// Variables naming convention, set these before building

//Core Variables 
$bodyCopy: ;	
$primCopy: ;
$secCopy: ; 
$errorCopy: ;

// Background Colours
$bgColor: ;

// Links
$linkCopy: ;
$linkHover: ;

// Fonts
$FontOne: ;
$FontTwo: ;
